body{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 120px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    background-color: rgb(230, 230, 230);
}
button{
    border: none;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}
.header-inicial{
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: absolute;
    top: 0px;
    padding: 20px 30px;
    box-shadow: 0px 2px 3px rgb(200, 200, 200);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;   
}
.header{
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: absolute;
    top: 0px;
    padding: 20px 30px;
    box-shadow: 0px 2px 3px rgb(200, 200, 200);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.logo{
    height: 50px;
}
.people-icon{
    font-size: 50px;
}
.bottom-input{
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
    box-shadow: 0px -2px 3px rgb(200, 200, 200);
    z-index: 1;
    background-color: rgb(255, 255, 255);
}
.message-input{
    border: none;
    font-style: italic;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.message-input:focus{
    outline: none;
    font-style: normal;
    color: rgb(0, 0, 0);
}
.message-input:focus::placeholder{
    color: rgb(255, 255, 255);
}
.send-icon{
    font-size: 30px;
}
.messages{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    padding: 10px;
    scroll-behavior: auto;
    text-align: left;
}
.messages::-webkit-scrollbar {
    display: none;
  }
.message{
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px 0px 10px 0px;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    word-break: break-all;
}
.status{
    box-sizing: border-box;
    background-color: rgb(210, 210, 210);
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px 0px 10px 0px;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    word-break: break-all;
}
.side-menu{
    box-sizing: border-box;
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 60%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    z-index: 3;
}
.titulo-side{
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    margin: 0px 0px 10px;
    text-align: center;
}
.side-part{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.d1{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0px 0px 10px;
    font-size: 30px;
}
.destinatario{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.side-part2{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px 0px 0px;
}
.participante{
    margin: 0px 0px 0px 5px;
    color: black;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: left;
    font-size: 10px;
}
.blur{
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(200, 200, 200, 0.5);
    z-index: 2;
}
.login-input{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    margin: 0px 0px 10px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}
.login-input:focus::placeholder{
    color: rgb(255, 255, 255);
}
.login-button{
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 0px 0px 10px;
    font-size: 15px;
}
.login-button:hover{
    background-color: rgb(200, 200, 200);
}
.login-message{
    font-size: 15px;
}
.tela-inicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.tela-message{
    display: none;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}